version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 10
  reviewers:
  - dbellinghoven
  labels:
  - dependencies
  ignore:
  - dependency-name: github.com/google/go-cmp
    versions:
    - 0.5.4
