.red {
  color:red;
}

.center {
  margin: auto;
  width: 60%;
}

.code-no-background {
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.9em;
}

.shadowed-image {
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}
